/* styles that act throughout the page */
/* * {
    border: 2px solid red;
} */
body {
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
header {
    background-color: rgb(255, 149, 167);
    /* padding: 10px 28px; */
    padding: 10px;
    padding-bottom: 24px;
    padding-top: 24px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 24px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

button {
    padding: 11px 20px;
    background-color: rgb(48, 181, 243);
    border: 4px solid yellow;
    border-radius: 25px;
    font-size: 22px;
}

/* navbar */
.logo {
    width: 170px;
    height: auto;
    /* margin-right: auto; */
    /* margin-left: 20px; */
}

nav, nav ul {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 8px;
}

nav {
    justify-content: space-around;
}
nav ul {
    padding: 0;
    list-style-type: none;
    margin-right: 25px;
    gap: 30px;
    font-size: 24px;
    flex-wrap: wrap;
    /* flex: 1; */
}

/* rest of header */
.band-image {
    width: 640px;
    height: 360px;
    border-radius: 25px;
    border: 4px solid yellow;
    /* margin-top: 20px; */
    /* max-width: 600px;
    max-width: 315px; */
}
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
    flex-wrap: wrap;
    align-content: center;
}

.intro-text p, .intro-text h1 {
    width: 500px;
    /* flex: 1; */
}

/* styles for the cards */

.band-members {
    display: block;
    position: relative;
    padding-bottom: 30px;
    padding-top: 30px;
}
.band-members::after {
    content: "";
    background-image: url("./images/concert.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.card-header {
    text-align: center;
    margin: 0 auto;
    padding: 6px;
    width: 470px;
    /* background-color: white;
    border: 4px solid rgb(48, 181, 243);
    border-radius: 10px; */
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.card img {
    width: 270px;
    height: 340px;
    /* min-width: 150px;
    min-height: 180px; */
    border: 4px solid rgb(48, 181, 243);
    border-radius: 10px;
    background-color: yellow;
}

.card {
    display: flex;
    flex-direction: column;
}

.card figcaption {
    width: 260px;
    height: auto;
    font-size: 24px;
    padding: 12px;
    padding-bottom: 10px;
    margin-top: 10px;
    /* background-color: white;
    border: 4px solid rgb(48, 181, 243);
    border-radius: 10px; */
}

/* quote styles */
.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(255, 149, 167);
}

/* .quote * {
    border: 2px solid red;
} */
.quote blockquote {
    border: 4px solid yellow;
    background-color: rgb(48, 181, 243);
    border-radius: 25px;
    padding: 20px;
    padding-top: 25px; 
    width: 730px;
}

.quote p {
    margin: 0;
    padding-bottom: 12px;
    font-family: "Indie Flower", cursive;
    font-size: 30px;
}
.quote cite {
    /* border: 2px solid red; */
    font-size: 28px;
    margin-left: 50px;
    font-family: "Indie Flower", cursive;
    /* margin: 0 300px; */
}

.quote img {
    border: 4px solid yellow;
    border-radius: 25px;
}