.logo {
    width: 100px;
    height: auto;
    margin-right: auto;
    margin-left: 20px;
}

nav, nav ul {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 8px;
}

nav {
    justify-content: space-around;
}
nav ul {
    padding: 0;
    list-style-type: none;
    margin-right: 25px;
}

nav a {
    text-decoration: none;
}